<footer>
    
    <div class="container">

        <div class="row">

            <div class="d-flex flex-wrap justify-content-around align-items-center text-white py-5 text-center">
        
                    <div class="col-12 col-md-4 py-3">
                        <h4> is your everyday online notepad</h4>
                    </div>
                    
                    <div class="col-12 col-md-4 py-3">
                        <h4>You can take notes</h4>
                    </div>
                    
                    <div class="col-12 col-md-4 py-3">
                        <h4>Best of all - aNotepad is a fast, clean, and easy-to-use </h4>
                    </div>
            </div>


        </div>


    </div>
    


</footer>