<section>

    <div class="inner">
        
            <form [formGroup]="loginForm" class="w-75 p-3 rounded-4 shadow-lg bg-white mx-auto mt-5" (submit)="loginUser()">
            
                <h1 class="text-main fw-light my-3">Login</h1>
            
                @if (errorMsg) {
                    <div class="mt-1 alert alert-danger text-center w-75 mx-auto">
                            <p class="mb-0">{{errorMsg}}</p>
                        
                    </div>
                }
            
                <div class="my-3">
                    <label for="email">Email<b>:</b></label>
                    <input formControlName="email" id="email" class="" type="email" [ngClass]="{
                        'is-invalid':loginForm.get('email')?.errors && loginForm.get('email')?.touched,
                        'is-valid':!loginForm.get('email')?.errors && loginForm.get('email')?.touched}">
            
                    @if (loginForm.get("email")?.touched && loginForm.get("email")?.errors ) {
                        <div class="mt-1 alert alert-danger">
                            @if (loginForm.get("email")?.getError("required")) {
                                <p class="mb-0">Email is required</p>
                            }
                            @else if (loginForm.get("email")?.getError("email")) {
                                <p class="mb-0">Enter Valid Email</p>
                            }
                        </div>
                    }
            
                </div>
            
                <div class="my-3 ">
                    <label for="password">Password<b>:</b></label>
                    <div class="position-relative">
                    <input formControlName="password" id="password" class="" [type]="!togilPassword ? 'password' : 'text' "[ngClass]="{
                    'is-invalid':loginForm.get('password')?.errors && loginForm.get('password')?.touched,
                    'is-valid':!loginForm.get('password')?.errors && loginForm.get('password')?.touched}">
                    
                    @if (!togilPassword) {
                        <span (click)="toggle()" class="togle position-absolute cursor top-0 end-0" > <i class="fa-solid fa-eye"></i> </span>
                    }@else{
                        <span (click)="toggle()" class="togle position-absolute cursor top-0 end-0" > <i class="fa-solid fa-eye-slash"></i> </span>
                    }
                    

                    </div>
            
                    @if (loginForm.get("password")?.touched && loginForm.get("password")?.errors ) {
                        <div class="mt-1 alert alert-danger">
                            @if (loginForm.get("password")?.getError("required")) {
                                <p class="mb-0">password is required</p>
                            }
                            @else if (loginForm.get("password")?.getError("pattern")) {
                                <p class="mb-0">password must start with upperCase then from 6 to more any word chars</p>
                            }
                        </div>
                    }



                </div>
            
            
                <button type="submit" class="fw-light fs-5 btn-main" [disabled]="loginForm.invalid" >Login 
                @if (isvalid == true) {<span> <i class="fa fa-spin fa-spinner ms-2 text-white"></i> </span>}
                </button>
                <a routerLink="/register" class=" px-2" >SignUp<i class="fa-solid fa-question"></i></a>

            
            
            </form>

    </div>

</section>
